<template>
  <md-layout md-align="center" style="padding-top:1%">
    <md-layout md-column md-flex-xsmall="100" md-flex-small="90" md-flex="50">
      <md-theme md-name="card">
        <md-card id="cardResetPassword" style="color: black;" md-with-hover>
          <form @submit.prevent="resetPassword()">
            <md-card-header>
              <div class="md-title">Redefinir Senha</div>
              <div class="md-subhead">Insira sua Nova Senha</div>
            </md-card-header>
            <md-card-content>
              <md-input-container id="password">
                <label>Senha</label>
                <md-input v-model="password" type="password" required></md-input>
                <span class="md-error">{{ messagePassword }}</span>
              </md-input-container>
              <md-input-container id="passwordConfirm">
                <label>Repita a Senha</label>
                <md-input v-model="passwordConfirm" type="password" required></md-input>
                <span class="md-error">{{ messagePasswordConfirm }}</span>
              </md-input-container>
            </md-card-content>
            <md-card-actions>
              <md-button type="submit" class="md-raised md-primary">Enviar</md-button>
            </md-card-actions>
          </form>
        </md-card>

        <md-dialog ref="dialogReset">
          <md-dialog-content>{{ content }}</md-dialog-content>
          <md-dialog-actions>
            <md-button class="md-primary" @click.native="closeDialog('dialogReset')">Ok</md-button>
          </md-dialog-actions>
        </md-dialog>
      </md-theme>
  </md-layout>
</md-layout>
</template>
<script>
import accountService from '@/services/account';

export default {
  data() {
    return {
      content: '',
      password: '',
      passwordConfirm: '',
      messagePassword: '',
      messagePasswordConfirm: '',
      token: this.$route.query.token,
      response: '',
    };
  },
  methods: {
    async resetPassword() {
      if (this.validate()) {
        this.response = await accountService.resetPassword({
          password: this.password,
          token: this.token });
        if (!this.response.error) {
          this.content = this.response;
        } else {
          this.content = this.response.error;
        }
        this.openDialog('dialogReset');
      }
    },
    validate() {
      let validate = true;
      if (this.password.length < 7) {
        this.messagePassword = 'A senha deve ter, no mínimo, 7 caracteres.';
        window.$('#password').addClass('md-input-invalid');
        validate = false;
      } else if (this.password !== this.passwordConfirm) {
        this.messagePasswordConfirm = 'As senhas não conferem.';
        window.$('#passwordConfirm').addClass('md-input-invalid');
        validate = false;
      }
      return validate;
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
      if (!this.response.error) this.$router.push({ name: 'login.index' });
    },
    // register() {
    //   this.$router.push({ name: 'register.index' });
    // },
    // exibirMensagem() {
    //   this.$refs.snackbar.open();
    // },
    // fecharMensagem() {
    //   this.$refs.snackbar.close();
    // },
  },
};
</script>
