<template>
  <md-layout md-align="center" style="padding-top:1%">
  <md-layout md-column md-flex-xsmall="100" md-flex-small="90" md-flex="50">
    <md-theme md-name="card">
      <md-card id="cardLogin" style="color: black;" md-with-hover>
        <form @submit.prevent="login(user)">
        <md-card-header>
          <div class="md-title">SISGAME - Login</div>
          <div class="md-subhead">Faça login para continuar</div>
        </md-card-header>
        <md-card-content>
            <md-input-container>
              <label>E-mail</label>
              <md-input v-model="user.email" type="email" required></md-input>
            </md-input-container>
            <md-input-container>
              <label>Senha</label>
              <md-input v-model="user.password" type="password" required></md-input>
            </md-input-container>
            <form-dialog-forgot-password v-on:sendEmail="showMessage"></form-dialog-forgot-password>
        </md-card-content>
        <md-card-actions>
          <md-button class="md-accent" @click.native="register()">Criar Conta</md-button>
          <md-button type="submit" class="md-raised md-primary">Login</md-button>
        </md-card-actions>
        </form>
      </md-card>
    </md-theme>

    <md-snackbar md-position="bottom left" ref="snackbar" md-duration="4000">
      <span>{{ message }}</span>
      <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
    </md-snackbar>
  </md-layout>
  </md-layout>
</template>
<script>
import authService from '@/services/auth';

export default {
  data() {
    return {
      user: {
        email: null,
        password: null,
      },
      message: '',
    };
  },

  methods: {
    async login(user) {
      this.message = await authService.login(user);
      this.showMessage(this.message);
    },
    register() {
      this.$router.push({ name: 'register.index' });
    },
    showMessage(message) {
      this.message = message;
      this.$refs.snackbar.open();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
  },
  components: {
    FormDialogForgotPassword: require('@/components/FormDialogForgotPassword.vue'),
  },
};
</script>
