<template>
  <md-layout md-align="center" style="padding-top:1%; padding-bottom:1%;">
    <md-layout md-column md-flex-xsmall="100" md-flex-small="90" md-flex="80">
      <md-theme md-name="card">
        <md-card id="cardRegister" style="color: black;" md-with-hover>
          <form @submit.prevent="register()">
            <md-card-header>
              <div class="md-title">Criar Conta</div>
              <div class="md-subhead">Crie uma conta para continuar. Os campos marcados com asterisco são obrigatórios.</div>
            </md-card-header>
            <md-card-content>
              <div align="center">
                <md-avatar class="md-avatar-icon md-large">
                  <img v-if="imagePreview" :src="imagePreview">
                  <img v-else :src="$http.defaults.baseURL + '/api/images/defaultAccount.png'">
                </md-avatar>
              </div>
              <md-input-container>
                <label>Imagem de Perfil</label>
                <md-file @change.native="changeImage" accept="image/jpg, image/jpeg"></md-file>
              </md-input-container>
              <md-input-container>
                <label>Nome</label>
                <md-input v-model="user.name" required></md-input>
              </md-input-container>
              <md-input-container>
                <label>E-mail</label>
                <md-input v-model="user.email" type="email" required></md-input>
              </md-input-container>
              <md-input-container id="password">
                <label>Senha</label>
                <md-input v-model="user.password" type="password" required></md-input>
                <span class="md-error">{{ messagePassword }}</span>
              </md-input-container>
              <md-input-container id="passwordConfirm">
                <label>Repita a Senha</label>
                <md-input v-model="user.passwordConfirm" type="password" required></md-input>
                <span class="md-error">{{ messagePasswordConfirm }}</span>
              </md-input-container>

              <md-checkbox class="md-primary" id="createTeam" @change="prepareTeamForm()" name="createTeam" v-model="createTeam" >Desejo também criar um time.</md-checkbox>

              <md-layout id="formCreateTeam" hidden md-align="center">
                <md-layout md-flex="100">
                  <div class="md-title">Informações do Time</div>
                </md-layout>
                <md-layout md-flex="100">
                  <div class="md-subhead">Informe os dados do time. A imagem de perfil é opcional.</div>
                </md-layout>
                  <div align="center">
                    <br>
                    <md-avatar class="md-avatar-icon md-large">
                      <img v-if="imageTeamPreview" :src="imageTeamPreview">
                      <img v-else :src="$http.defaults.baseURL + '/api/images/defaultTeam.jpg'">
                    </md-avatar>
                  </div>
                <md-input-container>
                  <label>Imagem de Perfil do Time</label>
                  <md-file @change.native="changeTeamImage" accept="image/jpg, image/jpeg" ></md-file>
                </md-input-container>

                <md-input-container>
                  <label>Nome</label>
                  <md-input id="nameTeam" v-model="team.name"></md-input>
                </md-input-container>

                <md-input-container>
                  <label>Descrição</label>
                  <md-input id="descriptionTeam" v-model="team.description"></md-input>
                </md-input-container>
                <md-layout md-flex="100">
                  <div class="md-title">Convidar pessoas para o time
                    <div class="md-subhead">Informe os emails a serem convidados para o time.</div>
                  </div>
                </md-layout>
                <md-layout md-flex="100" v-for="i in countInvite" :key="i">
                  <md-layout md-flex="85">
                    <md-input-container :id="'emailInvite' + i">
                      <label>Email</label>
                      <md-input v-model="invitedInput[i]" type="email"></md-input>
                      <span class="md-error">{{ emailInviteMessage }}</span>
                    </md-input-container>
                  </md-layout>
                  <md-layout v-if="i !== 1" style="padding-top: 20px">
                    <md-button v-if="countInvite > 1" @click.native="removeEmail(i)" class="md-icon-button md-dense md-warn"><md-icon>cancel</md-icon></md-button>
                  </md-layout>
                </md-layout>
                <md-layout md-flex="100">
                <md-button @click.native="countInvite += 1" class="md-raised md-primary">Novo Email</md-button>
                </md-layout>
              </md-layout>
            </md-card-content>
            <md-card-actions>
              <md-button @click.native="back()" class="md-primary md-warn">Voltar</md-button>
              <md-button type="submit" class="md-raised md-primary">Registrar</md-button>
            </md-card-actions>
          </form>
        </md-card>
      </md-theme>

      <md-snackbar md-position="bottom left" ref="snackbar" md-duration="4000">
        <span>{{ message }}</span>
        <md-button class="md-accent" @click.native="fecharMensagem()">Fechar</md-button>
      </md-snackbar>

    </md-layout>
  </md-layout>
</template>

<script>
import authService from '@/services/auth';

export default {
  data() {
    return {
      countInvite: 1,
      imagePreview: '',
      imageTeamPreview: '',
      inputImage: '',
      user: {
        name: null,
        email: null,
        passwordConfirm: null,
        password: null,
        image: null,
      },
      team: {
        image: null,
        name: null,
        description: null,
        invited: [],
      },
      invitedInput: [''],
      createTeam: '',
      message: '',
      messagePassword: '',
      messagePasswordConfirm: '',
      emailInviteMessage: '',
    };
  },
  methods: {
    async register() {
      if (this.validate()) {
        if (this.createTeam) {
          const newTeam = this.team;
          newTeam.admin = this.user;
          for (let i = 0; i < this.invitedInput.length; i += 1) {
            if (this.invitedInput[i] !== '') this.team.invited.push({ email: this.invitedInput[i] });
          }
          this.message = await authService.registerWithTeam(newTeam);
        } else {
          this.message = await authService.register(this.user);
        }
        if (this.message) {
          this.exibirMensagem();
        }
      }
    },
    back() {
      this.$router.push({ name: 'login.index' });
    },
    validate() {
      let validate = true;
      if (this.user.password.length < 7) {
        this.messagePassword = 'A senha deve ter, no mínimo, 7 caracteres.';
        window.$('#password').addClass('md-input-invalid');
        validate = false;
      } else if (this.user.password !== this.user.passwordConfirm) {
        this.messagePasswordConfirm = 'As senhas não conferem.';
        window.$('#passwordConfirm').addClass('md-input-invalid');
        validate = false;
      }
      for (let i = 0; i < this.invitedInput.length; i += 1) {
        if (this.invitedInput[i] === this.user.email) {
          this.emailInviteMessage = 'Você não pode informar o email do seu usuário.';
          window.$(`#emailInvite${i}`).addClass('md-input-invalid');
          validate = false;
        }
      }
      return validate;
    },
    prepareTeamForm() {
      window.$('#formCreateTeam').prop('hidden', this.createTeam);
      window.$('#nameTeam').prop('required', !this.createTeam);
      window.$('#descriptionTeam').prop('required', !this.createTeam);
    },
    changeImage(event) {
      this.user.image = event.target;
      const input = event.target;
      if (input.files && input.files[0]) {
        const reader = new FileReader();
        const vm = this;
        reader.onload = (e) => {
          vm.imagePreview = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    changeTeamImage(event) {
      this.team.image = event.target;
      const input = event.target;
      if (input.files && input.files[0]) {
        const reader = new FileReader();
        const vm = this;
        reader.onload = (e) => {
          vm.imageTeamPreview = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    removeEmail(i) {
      this.countInvite -= 1;
      this.invitedInput.splice(i, 1);
    },
    exibirMensagem() {
      this.$refs.snackbar.open();
    },
    fecharMensagem() {
      this.$refs.snackbar.close();
    },
  },

  components: {
    VLayout: require('@/layouts/minimal.vue'),
  },
};
</script>
<style>
#inviteInput {
  width: 100%;
}
</style>
