<template>
  <v-layout>
    <md-layout>
      <md-theme md-name="default">
        <md-tabs md-centered style="color: black; position: relative;">
          <md-tab md-icon="home" md-tooltip="Início">
            <md-layout md-align="center">
              <card-members v-on:send="showMessage" v-on:createFeedback="showMessage" v-on:createPrize="showMessage" :members="team.members" :appraisals="appraisals" :bus="bus"></card-members>
            </md-layout>
          </md-tab>
          <md-tab md-tooltip="Avaliações" md-icon="star">
            <md-theme md-name="card">
              <md-layout md-align="center">
              <md-layout md-align="center" md-column md-flex-small="100" md-flex-medium="90" md-flex="70">
                <card-my-appraisal></card-my-appraisal>
              </md-layout>
              </md-layout>
            </md-theme>
          </md-tab>

          <md-tab md-tooltip="Prêmios" md-icon="stars">
            <md-theme md-name="card">
            <md-layout md-align="center">
              <md-layout md-flex-medium="100" md-flex-xsmall="100" md-flex-small="100" md-flex-large="20">
                <md-list class="md-transparent" style="flex: 7">
                  <md-list-item @click="changePrizeFocus('receivedPrizes')">Todos os Prêmios Atribuídos</md-list-item>
                  <md-list-item @click="changePrizeFocus('myPrizes')">Meu Desempenho</md-list-item>
                </md-list>
              </md-layout>
              <md-layout md-column md-flex-xsmall="100" md-flex-small="100" md-flex-medium="100" md-flex-large="70">
                <md-layout v-if="this.prizeFocus == 'receivedPrizes'" md-column>
                  <card-prizes v-on:createPrize="showMessage" :bus="bus"></card-prizes>
                </md-layout>
                <md-layout v-if="this.prizeFocus == 'myPrizes'" md-column>
                  <card-ranking-prizes></card-ranking-prizes>
                </md-layout>
              </md-layout>
            </md-layout>
            </md-theme>
          </md-tab>

          <md-tab md-tooltip="Feedbacks" md-icon="comment">
            <md-layout md-align="center">
              <md-layout md-flex-medium="100" md-flex-xsmall="100" md-flex-small="100" md-flex-large="20">
                <md-list class="md-transparent" style="flex: 7">
                  <md-list-item @click="changeFeedbackFocus('receivedFeedbacks')">Feedbacks Recebidos</md-list-item>
                  <md-list-item @click="changeFeedbackFocus('givenFeedbacks')">Feedbacks Enviados</md-list-item>
                  <md-list-item @click="changeFeedbackFocus('feedbackRanking')">Meu Desempenho</md-list-item>
                </md-list>
              </md-layout>
              <md-layout md-column md-flex-xsmall="100" md-flex-small="100" md-flex-medium="100"  md-flex-large="70">
                <md-theme md-name="card">
                  <md-layout v-if="this.feedbackFocus == 'receivedFeedbacks'" md-column>
                    <card-feedbacks v-on:createFeedback="showMessage"></card-feedbacks>
                  </md-layout>
                  <md-layout v-if="this.feedbackFocus == 'givenFeedbacks'" md-column>
                    <card-given-feedbacks v-on:createFeedback="showMessage"></card-given-feedbacks>
                  </md-layout>
                  <md-layout v-if="this.feedbackFocus == 'feedbackRanking'" md-column>
                    <card-ranking-feedbacks></card-ranking-feedbacks>
                  </md-layout>
                </md-theme>
              </md-layout>
            </md-layout>
          </md-tab>

          <md-tab md-tooltip="Configurações" md-icon="settings" v-if="team.profile && team.profile.id == 1">
            <md-layout md-align="center">
              <md-layout md-flex-medium="100" md-flex-xsmall="100" md-flex-small="100" md-flex-large="20">
                <md-list class="md-transparent" style="flex: 7">
                  <md-list-item @click="changeConfigFocus('editTeam')" @click.native="changeConfigFocus('editTeam')">Editar Informações do Time</md-list-item>
                  <md-list-item @click="changeConfigFocus('medals')" @click.native="changeConfigFocus('medals')">Administrar Selos</md-list-item>
                  <md-list-item @click="changeConfigFocus('invite')" @click.native="changeConfigFocus('invite')">Administrar Convites</md-list-item>
                </md-list>
              </md-layout>
              <md-layout md-column md-flex-xsmall="100" md-flex-small="100" md-flex-medium="100"  md-flex-large="70">
                <md-theme md-name="card">
                  <md-layout v-if="this.configFocus == 'editTeam'" md-column>
                    <card-edit-team v-on:editTeam="showMessage"></card-edit-team>
                  </md-layout>
                  <md-layout v-if="this.configFocus == 'medals'" md-column>
                    <card-medals v-on:createMedal="showMessage"></card-medals>
                  </md-layout>
                  <md-layout v-if="this.configFocus == 'invite'" md-column>
                    <card-add-member v-on:createInviteMember="showMessage" :bus="bus"></card-add-member>
                  </md-layout>
                  <md-layout v-if="this.configFocus == 'invite'" md-column>
                    <br>
                    <card-sent-invites v-on:removeInvite="showMessage" :bus="bus"></card-sent-invites>
                  </md-layout>
                </md-theme>
              </md-layout>
            </md-layout>
          </md-tab>

          <md-snackbar md-position="bottom left" ref="snackbar" md-duration="2000">
            <span>{{ message }}</span>
            <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
          </md-snackbar>

        </md-tabs>
      </md-theme>
    </md-layout>
  </v-layout>
</template>
<script>
import Vue from 'vue';
import teamService from '@/services/team';
import appraisalService from '@/services/appraisal';

export default {
  async mounted() {
    this.appraisals = await appraisalService.find(this.$route.params.id);
    await teamService.find(this.$route.params.id);
  },
  data() {
    return {
      message: '',
      appraisals: [],
      configFocus: 'editTeam',
      prizeFocus: 'receivedPrizes',
      feedbackFocus: 'receivedFeedbacks',
      bus: new Vue(),
    };
  },
  computed: {
    team() {
      return this.$store.getters['team/team'];
    },
  },
  methods: {
    showMessage(message) {
      this.message = message;
      this.$refs.snackbar.open();
      this.$forceUpdate();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
    changeConfigFocus(cardName) {
      this.configFocus = cardName;
    },
    changePrizeFocus(cardName) {
      this.prizeFocus = cardName;
    },
    changeFeedbackFocus(cardName) {
      this.feedbackFocus = cardName;
    },
  },
  components: {
    VLayout: require('@/layouts/default.vue'),
    CardMembers: require('@/components/CardMembers.vue'),
    CardPrizes: require('@/components/CardPrizes.vue'),
    CardFeedbacks: require('@/components/CardFeedbacks.vue'),
    CardGivenFeedbacks: require('@/components/CardGivenFeedbacks.vue'),
    CardEditTeam: require('@/components/CardEditTeam.vue'),
    CardMedals: require('@/components/CardMedals.vue'),
    CardAddMember: require('@/components/CardAddMember.vue'),
    CardMyAppraisal: require('@/components/CardMyAppraisal.vue'),
    CardRankingPrizes: require('@/components/CardRankingPrizes.vue'),
    CardRankingFeedbacks: require('@/components/CardRankingFeedbacks.vue'),
    CardSentInvites: require('@/components/CardSentInvites.vue'),
  },
};
</script>
