<template>
  <v-layout>
    <md-layout md-align="center" style="padding-top: 10px; padding-bottom: 50px">
      <md-layout md-align="center" md-column md-flex-xsmall="100" md-flex-small="100" md-flex="50">
        <md-card id="conviteCard" v-if="invites.length > 0" md-class="md-accent" style="background: #E8F5E9; color: black; margin-top: 10px;" md-with-hover>
          <md-card-header>
            <div class="md-title">Convites</div>
            <div class="md-subhead">Convites recebidos para participar de outros times.</div>
          </md-card-header>
          <md-card-content>
            <md-list class="custom-list md-double-line" style="background: #E8F5E9;">
              <md-list-item v-for="invite in invites" :key="invite.id">
              <md-layout>
                <md-avatar class="md-avatar-icon">
                  <img v-if="invite.team.image" :src="invite.team.image.link">
                </md-avatar>
                <div class="md-list-text-container">
                  <div class="md-title">{{ invite.team.name }}</div>
                  <div class="md-subhead">{{ invite.team.description }}</div>
                </div>
              </md-layout>
                <md-button class="md-warn md-list-action" @click.native="reject(invite.id)">
                  Recusar
                </md-button>
                <md-button class="md-primary md-raised md-list-action" @click.native="accept(invite.id)">
                  Aceitar
                </md-button>
                <md-divider class="md-inset"></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
        <md-theme md-name="card">
          <md-card id="teamCard" style="color: black; margin-top: 10px;" md-with-hover>
            <md-progress id="loadingHome" md-indeterminate></md-progress>
            <md-card-header>
              <div class="md-title">Times</div>
              <div class="md-subhead">Clique em um time para continuar ou crie um novo.</div>
            </md-card-header>
            <md-card-content>
              <div class="md-subhead" align="center" v-if="teamsActive == ''"><br>Não foram encontrados times criados ou ativos.</div>
              <md-card md-with-hover v-for="(team, i) in teamsActive" :key="team.id" style="margin-bottom: 10px">
                <md-card-header>
                  <md-avatar class="md-avatar-icon md-large">
                    <img v-if="team.image" :src="team.image.link">
                  </md-avatar>
                  <md-card-header-text>
                    <div class="md-title">{{ team.name }}</div>
                    <div class="md-subhead">{{ team.description }}</div>
                    <div v-if="team.profile.type == 'administrador'" class="md-subhead" style="color: Green; opacity: 0.8;">Você é Administrador do Time</div>
                  </md-card-header-text>
                  <md-menu md-size="4" md-direction="bottom left">
                    <md-button class="md-icon-button" md-menu-trigger>
                      <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                      <md-menu-item @click.native="exitTeam(team.profile.memberId)">
                        <md-icon>clear</md-icon>
                        <span>Sair do Time</span>
                      </md-menu-item>
                      <md-menu-item v-if="team.profile.type == 'administrador'" @click.native="removeTeam(team.id)">
                        <md-icon>cancel</md-icon>
                        <span>Excluir Time</span>
                      </md-menu-item>
                      <md-menu-item v-if="team.profile.type == 'administrador'" @click.native="setMemberProfile(team.profile.memberId, false)">
                        <md-icon>person</md-icon>
                        <span>Desfazer Adm.</span>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-card-header>
                <md-card-actions>
                  <md-button class="md-raised md-primary" @click.native="dashboard(team.id)">Ir para Dashboard</md-button>
                </md-card-actions>
              </md-card>
            </md-card-content>
          </md-card>
          <form-dialog-add-team v-on:create="showMessage"></form-dialog-add-team>
          <md-snackbar md-position="bottom left" ref="snackbar" md-duration="4000">
            <span>{{ message }}</span>
            <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
          </md-snackbar>
        </md-theme>
      </md-layout>
    </md-layout>
  </v-layout>
</template>
<script>
import accountService from '@/services/account';
import memberService from '@/services/member';
import teamService from '@/services/team';
import inviteService from '@/services/invite';
import store from '@/store';

export default {
  async mounted() {
    await accountService.find();
    this.invites = await inviteService.find();
    store.dispatch('team/clear');
    if (this.teamsActive !== '') window.$('#loadingHome').prop('hidden', true);
  },
  data() {
    return {
      message: '',
      invites: [],
    };
  },
  computed: {
    teamsActive() {
      const teams = this.$store.getters['account/teamsActive'];
      if (typeof teams === 'object') window.$('#loadingHome').prop('hidden', true);
      return teams;
    },
    account() {
      return this.$store.getters['account/account'];
    },
  },
  methods: {
    async exitTeam(memberId) {
      // eslint-disable-next-line
      const response = confirm('Deseja sair do time?');
      if (response === true) {
        const message = await memberService.remove(memberId);
        await accountService.find();
        if (message.error) this.showMessage(message.error);
        else this.showMessage('Você saiu do time!');
      }
    },
    async removeTeam(teamId) {
      // eslint-disable-next-line
      const response = confirm('Deseja excluir este time? Esta ação não poderá ser desfeita.');
      if (response === true) {
        const message = await teamService.remove(teamId);
        await accountService.find();
        if (message.error) this.showMessage(message.error);
        else this.showMessage(message);
      }
    },
    async setMemberProfile(memberId, isAdmin) {
      // eslint-disable-next-line
      const response = confirm('Deixar de ser Administrador do Time?');
      if (response === true) {
        const message = await memberService.changeProfile(memberId, isAdmin);
        await accountService.find();
        if (message.error) this.showMessage(message.error);
        else this.showMessage('Você não é mais administrador do time.');
      }
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    showMessage(message) {
      this.message = message;
      this.$refs.snackbar.open();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
    dashboard(teamId) {
      this.$router.push({ name: 'dashboard.index', params: { id: teamId } });
    },
    async accept(inviteId) {
      const message = await inviteService.accept(inviteId);
      this.showMessage(message);
      this.invites = await inviteService.find();
    },
    async reject(inviteId) {
      const message = await inviteService.reject(inviteId);
      this.showMessage(message);
      this.invites = await inviteService.find();
    },
  },
  components: {
    VLayout: require('@/layouts/default.vue'),
    FormDialogAddTeam: require('@/components/FormDialogAddTeam.vue'),
  },
};
</script>
