<template>
  <v-layout>
    <md-layout md-align="center" style="padding-top: 10px; padding-bottom: 50px">
    <md-layout md-align="center" md-column md-flex-xsmall="100" md-flex-small="80" md-flex="60">
    <md-theme md-name="card">
      <md-card>
        <md-card-header>
          <div class="md-title">Histórico de Notificações</div>
          <div class="md-subhead">Todas as Notificações recebidas.</div>
        </md-card-header>
        <md-card-content>
          <md-list v-if="response.data.length > 0">
            <md-list-item v-for="notification in response.data" :key="notification.id">
                <md-layout>
                <md-layout md-flex-xsmall="100" md-flex-medium="100" md-flex-large="70">
                  <div class="headline">{{notification.message.value}}</div>
                  <md-layout md-flex="50">
                    <div class="md-subhead">Recebido em: {{formatDate(notification.message.created_at)}}</div>
                  </md-layout>
                </md-layout>
                <md-layout md-align="end">
                  <md-button class="md-accent" @click.native="goTeam(notification.message.team_id)">Ir para o Time</md-button>
                </md-layout>
                </md-layout>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
          <div class="subhead" v-else>Você não possui notificações.</div>
          <md-layout md-align="end" v-if="response.data.length > 0">
            <md-layout md-align="left">
              <md-button id="firstNotification" :disabled="firstNotificationDisabled" class="md-primary md-raised" @click.native="updateNotification(1)">Primeira</md-button>
              <md-button id="previousNotification" :disabled="previousNotificationDisabled" class="md-primary md-raised" @click.native="updateNotification(response.current_page-1)">Anterior</md-button>
            </md-layout>
            <md-button id="nextNotification" :disabled="nextNotificationDisabled" class="md-primary md-raised" @click.native="updateNotification(response.current_page+1)">Próxima</md-button>
          </md-layout>
        </md-card-content>
      </md-card>
    </md-theme>
    </md-layout>
    </md-layout>
  </v-layout>
</template>
<script>
import notificationService from '@/services/notification';

export default {
  async mounted() {
    this.updateNotification();
  },
  data() {
    return {
      response: null,
      firstNotificationDisabled: false,
      previousNotificationDisabled: false,
      nextNotificationDisabled: false,
    };
  },
  methods: {
    async updateNotification(page = 1) {
      this.response = await notificationService.find(page);
      this.managePagination();
    },
    managePagination() {
      if (this.response.prev_page_url) {
        this.firstNotificationDisabled = false;
        this.previousNotificationDisabled = false;
      } else {
        this.firstNotificationDisabled = true;
        this.previousNotificationDisabled = true;
      }
      if (this.response.next_page_url) this.nextNotificationDisabled = false;
      else this.nextNotificationDisabled = true;
    },
    goTeam(teamId) {
      this.$router.push({ name: 'dashboard.index', params: { id: teamId } });
    },
    formatDate(date) {
      const dateSplit = date.split('-');
      return `${dateSplit[2].split(' ')[0]}/${dateSplit[1]}/${dateSplit[0]}`;
    },
  },

  components: {
    VLayout: require('@/layouts/default.vue'),
  },
};
</script>
