<template>
  <md-layout>
    <form-edit-medal :medal="data"></form-edit-medal>
    <md-layout>
      <md-dialog md-open-from="#btnRemoveMedal" md-close-to="#btnRemoveMedal" ref="modalRemoveMedal">
        <md-dialog-title>Excluir Selo</md-dialog-title>

        <md-dialog-content>Deseja excluir este selo permanentemente?</md-dialog-content>

        <md-dialog-actions>
          <md-button class="md-warn" @click.native="closeDialog('modalRemoveMedal')">Cancelar</md-button>
          <md-button class="md-primary md-raised" @click.native="removeMedal()">Confirmar</md-button>
        </md-dialog-actions>
      </md-dialog>

      <md-button class="md-icon-button md-warn" id="btnRemoveMedal" @click.native="openDialog('modalRemoveMedal')">
        <md-icon>cancel</md-icon>
      </md-button>
    </md-layout>

    <md-snackbar md-position="bottom left" ref="snackbar" md-duration="2000">
      <span>{{ message }}</span>
      <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
    </md-snackbar>
  </md-layout>
</template>
<script>
import medalService from '@/services/medal';

export default {
  props: ['data'],
  data() {
    return {
      message: null,
    };
  },
  components: {
    FormEditMedal: require('@/components/FormEditMedal.vue'),
  },
  methods: {
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    async removeMedal() {
      let message = '';
      const response = await medalService.remove(this.$route.params.id, this.data.id);
      if (!response.error) {
        this.closeDialog('modalRemoveMedal');
        message = response;
      } else {
        message = response.error;
      }
      this.showMessage(message);
    },
    showMessage(message) {
      this.message = message;
      this.$refs.snackbar.open();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
  },
};
</script>
<style>
#data {
  white-space: pre-wrap;
}
</style>
