<template>
  <md-card md-with-hover>
    <md-card-header>
      <div class="md-title">Seu Desempenho nos Prêmios</div>
      <div class="md-subhead" v-if="myPrizes == 0">Não há prêmios a serem exibidos.</div>
    </md-card-header>
    <md-card-content>

      <div align="center" class="md-subheading" v-if="myPrizes.length != 0">Pontuação Total: {{totalPoints}} ponto(s)</div>
    </md-card-content>
    <md-card-content>
      <md-layout md-align="center">
      <md-layout md-align="center" v-for="(prize, i) in myPrizes" :key="prize.medal.id" v-if="prize.medal.status == 'ativo'" md-flex-small="100" md-flex-xsmall="100" md-flex="50" md-column style="padding: 10px">
        <md-card md-with-hover style="min-height: 160px">
          <md-card-header>
            <div class="md-title">{{ prize.medal.name }}</div>
            <div class="md-subhead" style="word-wrap: break-word">{{ prize.medal.description }}</div>
          </md-card-header>
          <md-card-content>
            <md-layout v-if="prize.rank.position != 0">
              <md-layout md-align="center" md-flex-xsmall="100" md-flex="50">
                <span class="md-subheading">Posição: {{prize.rank.position}}º lugar</span>
              </md-layout>

              <md-layout md-align="center" md-flex-xsmall="100" md-flex="50">
                <span class="md-subheading">Pontuação: {{prize.rank.points}} ponto(s)</span>
              </md-layout>
            </md-layout>
            <md-layout v-else md-align="center" md-flex="100">
              <span class="md-subheading">Você ainda não recebeu este prêmio.</span>
            </md-layout>
          </md-card-content>
        </md-card>
      </md-layout>
      </md-layout>
    </md-card-content>
  </md-card>
</template>
<script>
import prizeService from '@/services/prize';

export default {
  mounted() {
    this.updatePrize();
  },
  methods: {
    async updatePrize() {
      this.myPrizes = await prizeService.findRanking(this.$route.params.id);
    },
  },
  computed: {
    totalPoints() {
      let total = 0;
      for (let i = 0; i < this.myPrizes.length; i += 1) {
        total += this.myPrizes[i].rank.points;
      }
      return total;
    },
  },
  data() {
    return {
      myPrizes: [],
    };
  },
};
</script>
