<template>
  <md-card md-with-hover>
    <md-card-content style="color: black;">
      <div class="md-title">Administrar Selos do Time</div>
      <div class="md-subhead">Selos criados para premiação.</div>
      <br>
      <md-layout md-column>
        <v-client-table
          :data="medals"
          :columns="columns"
          :options="options">
        </v-client-table>
      </md-layout>
    </md-card-content>
    <md-card-actions>
      <form-create-medal v-on:createMedal="createMedal"></form-create-medal>
    </md-card-actions>
  </md-card>
</template>
<script>
import Vue from 'vue';
import { ClientTable } from 'vue-tables-2';
import medalService from '@/services/medal';
import descriptionColumn from './TableColumnComment';
import ActionsColumn from './ActionsColumn';

Vue.use(ClientTable);
export default {
  // async mounted() {
  //   await this.findMedals();
  // },
  data() {
    return {
      response: {},
      columns: ['name', 'description', 'scorevalue', 'status', 'actions'],
      options: {
        filterable: false,
        // columnsDisplay: {
        //   description: 'desktop',
        // },
        headings: {
          name: 'Nome',
          description: 'Descrição',
          scorevalue: 'Peso',
          status: 'status',
          actions: 'Ações',
        },
        texts: {
          filter: 'Buscar:',
          count: '',
          limit: 'Por página:',
          filterPlaceholder: 'Buscar:',
          noResults: 'Não foram encontrados selos.',
        },
        orderBy: {
          ascending: false,
          column: 'id',
        },
        templates: {
          description: descriptionColumn,
          actions: ActionsColumn,
        },
        pagination: {
          chunk: 10,
          dropdown: true,
        },
        perPage: 10,
      },
    };
  },
  computed: {
    medals() {
      return this.$store.getters['team/team'].medals;
    },
  },
  methods: {
    async findMedals() {
      this.response = await medalService.find(this.$route.params.id);
      this.medals = await this.response.medals;
    },
    async createMedal(message) {
      this.$emit('createMedal', message);
      await this.findMedals();
    },
  },
  components: {
    FormCreateMedal: require('@/components/FormCreateMedal.vue'),
  },
};
</script>
