<template>
  <md-layout md-align="center" md-flex-xsmall="100" md-flex-small="100" md-flex-medium="80" md-flex-large="70">
      <md-layout md-column>
          <md-card md-with-hover>
            <md-card-area>
            <md-card-header>
              <div class="md-title">Feedbacks Recebidos</div>
              <div class="md-subhead">Veja os feedbacks de outros membros do time em relação a você ou mande um feedback a alguém.</div>

            </md-card-header>
            <md-card-content>
              <div class="md-subhead">Filtrar pelo tipo da ação:</div>
              <md-radio v-model="feedbackFilter" md-value="0" class="md-primary">Todas</md-radio>
              <md-radio v-for="option in feedbackOptions" :key="option.id" v-model="feedbackFilter" :md-value="option.id" class="md-primary">{{option.value}}</md-radio>
              <md-layout md-column>
                <v-client-table
                  :data="feedbacks"
                  :columns="columns"
                  :options="options">
                </v-client-table>
              </md-layout>

              <md-layout md-align="end">
                <md-layout md-align="left">
                  <md-button id="firstFeedback" class="md-primary md-raised" @change="findFeedbacks(1)">Primeira</md-button>
                  <md-button id="previousFeedback" class="md-primary md-raised" @change="findFeedbacks(response.current_page-1)">Anterior</md-button>
                </md-layout>
                <md-button id="nextFeedback" class="md-primary md-raised" @change="findFeedbacks(response.current_page+1)">Próxima</md-button>
              </md-layout>
            </md-card-content>

          </md-card-area>

            <md-card-actions>
              <md-layout md-align="left">
                <div class="md-subhead">Feedbacks são anônimos. Você não será identificado pelo usuário avaliado.</div>
              </md-layout>
              <form-dialog-add-feedback :feedbackOptions="feedbackOptions" v-on:createFeedback="createFeedback"></form-dialog-add-feedback>
            </md-card-actions>
          </md-card>
        </md-layout>
  </md-layout>
</template>
<script>
import Vue from 'vue';
import { ClientTable } from 'vue-tables-2';
import feedbackService from '@/services/feedback';
import commentColumn from './TableColumnComment';

Vue.use(ClientTable);

export default {
  async mounted() {
    await this.findFeedbacks();
    await this.findFeedbackOptions();
  },
  data() {
    return {
      feedbackFilter: 0,
      feedbacks: [],
      feedbackOptions: [],
      response: {},
      columns: ['option', 'comment'],
      sortable: ['option'],
      options: {
        filterable: false,
        headings: {
          option: 'Ação',
          comment: 'Comentário',

        },
        texts: {
          filter: 'Buscar Feedback:',
          count: '',
          limit: 'Por página:',
          filterPlaceholder: 'Digite o comentário:',
          noResults: 'Não foram encontrados feedbacks.',
        },
        orderBy: {
          ascending: false,
          column: 'id',
        },
        pagination: {
          chunk: 10,
        },
        perPage: 10,
        customFilters: [{
          name: 'action',
          callback(row, query) {
            if (query !== '') {
              return row.option.value === query;
            }
            return true;
          },
        }],
        templates: {
          option(h, row) {
            return row.option.value;
          },
          comment: commentColumn,
        },
      },

      style: {
        dropdownClass: 'md-select md-menu',
        icons: {
          first: 'angle double left icon',
          prev: 'left chevron icon',
          next: 'right chevron icon',
          last: 'angle double right icon',
        },
      },
    };
  },
  watch: {
    async feedbackFilter() {
      await this.findFeedbacks(1, this.feedbackFilter);
      this.managePagination();
    },
  },
  methods: {
    async findFeedbackOptions() {
      this.feedbackOptions = await feedbackService.findOptions();
    },
    async findFeedbacks(page = 1, option = 0) {
      this.response = await feedbackService.find(this.$route.params.id, page, option);
      this.feedbacks = await this.response.data;
      this.managePagination();
    },
    managePagination() {
      if (this.response.prev_page_url) {
        window.$('#previousFeedback').prop('disabled', false);
        window.$('#firstFeedback').prop('disabled', false);
      } else {
        window.$('#previousFeedback').prop('disabled', true);
        window.$('#firstFeedback').prop('disabled', true);
      }
      if (this.response.next_page_url) window.$('#nextFeedback').prop('disabled', false);
      else window.$('#nextFeedback').prop('disabled', true);
    },
    createFeedback(message) {
      this.$emit('createFeedback', message);
    },
  },
  components: {
    FormDialogAddFeedback: require('@/components/FormDialogAddFeedback.vue'),
  },
};
</script>
