<template>
  <md-layout md-align="center">
    <md-layout md-column md-flex-xsmall="100" md-flex="70" style="padding-top: 10px; padding-bottom: 10px;">
      <md-theme md-name="card">
        <md-card style="color: black;" md-with-hover>
          <form @submit.prevent="edit()">
            <md-card-header>
              <div class="md-title">Mudar Senha</div>
              <div class="md-subhead">Insira sua senha atual e a nova senha.</div>
            </md-card-header>
            <md-card-content>
              <md-input-container id="password">
                <label>Senha Atual</label>
                <md-input v-model="user.password" type="password" required></md-input>
              </md-input-container>
              <md-input-container id="newPassword">
                <label>Nova Senha</label>
                <md-input v-model="user.newpassword" type="password" required></md-input>
                <span class="md-error">{{ messagePassword }}</span>
              </md-input-container>
              <md-input-container id="newPasswordConfirm">
                <label>Repita a Nova Senha</label>
                <md-input v-model="newPasswordConfirm" type="password" required></md-input>
                <span class="md-error">{{ messagePasswordConfirm }}</span>
              </md-input-container>
            </md-card-content>
            <md-card-actions>
              <md-button @click.native="home" type="submit" class="md-primary md-accent">Voltar</md-button>
              <md-button type="submit" class="md-raised md-primary">Enviar</md-button>
            </md-card-actions>
          </form>
        </md-card>
      </md-theme>
      <md-snackbar md-position="bottom left" ref="snackbar" md-duration="4000">
        <span>{{ message }}</span>
        <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
      </md-snackbar>
    </md-layout>
  </md-layout>
</template>
<script>
import accountService from '@/services/account';

export default {
  data() {
    return {
      user: {
        password: '',
        newpassword: '',
      },
      newPasswordConfirm: '',
      message: '',
      messagePassword: '',
      messagePasswordConfirm: '',
    };
  },
  computed: {
    account() {
      return this.$store.getters['account/account'];
    },
  },
  methods: {
    home() {
      this.$router.push({ path: 'home' });
    },
    async edit() {
      if (this.validate()) {
        const response = await accountService.edit(this.user);
        if (response.error) {
          this.message = response.error;
        } else {
          this.message = response;
          await accountService.find();
          this.user.password = '';
          this.user.newpassword = '';
          this.newPasswordConfirm = '';
        }
        this.showMessage();
      }
    },
    showMessage() {
      this.$refs.snackbar.open();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
    validate() {
      let validate = true;
      if (this.user.newpassword === this.user.password) {
        this.messagePassword = 'A senha não pode ser igual a anterior.';
        window.$('#newPassword').addClass('md-input-invalid');
        validate = false;
      } else if (this.user.newpassword.length < 7) {
        this.messagePassword = 'A senha deve ter, no mínimo, 7 caracteres.';
        window.$('#newPassword').addClass('md-input-invalid');
        validate = false;
      } else if (this.user.newpassword !== this.newPasswordConfirm) {
        this.messagePasswordConfirm = 'As senhas não conferem.';
        window.$('#newPasswordConfirm').addClass('md-input-invalid');
        validate = false;
      }
      return validate;
    },
  },
};
</script>
