<template>
<md-card md-with-hover style="color: black;">
  <form @submit.prevent="edit()">
    <md-card-content>
      <div class="md-title">Editar Informações do Time</div>
      <div class="md-subhead">Edite as informações de identificação do time</div>
      <div align="center">
        <md-avatar class="md-avatar-icon md-large">
          <img v-if="imagePreview" :src="imagePreview">
          <img v-else :src="team.image.link">
        </md-avatar>
      </div>
      <md-input-container>
        <label>Imagem de Perfil do Time</label>
        <md-file @change.native="changeImage" accept="image/jpg, image/jpeg" ></md-file>
      </md-input-container>
      <md-input-container>
        <label>Nome</label>
        <md-input id="name" :value="team.name" required ></md-input>
      </md-input-container>
      <md-input-container>
        <label>Descrição</label>
        <md-input id="description" :value="team.description" required></md-input>
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <md-button type="submit" class="md-primary md-raised">Enviar</md-button>
    </md-card-actions>
  </form>
</md-card>
</template>
<script>
import teamService from '@/services/team';
import accountService from '@/services/account';

export default {
  computed: {
    team() {
      return this.$store.getters['team/team'];
    },
  },
  data() {
    return {
      message: '',
      imagePreview: '',
      inputImage: '',
    };
  },
  methods: {
    async edit() {
      const team = {};
      let responseUpload = '';
      team.id = this.team.id;
      team.name = window.$('#name').val();
      team.description = window.$('#description').val();
      if (this.inputImage) {
        responseUpload = await accountService.uploadImage(this.inputImage);
      }
      if (responseUpload.error) {
        this.message = responseUpload.error;
      } else {
        if (responseUpload) team.image = responseUpload;
        const response = await teamService.edit(team, this.team.profile);
        if (response.error) {
          this.message = response.error;
        } else {
          this.message = response;
        }
      }
      this.$emit('editTeam', this.message);
    },
    changeImage(event) {
      this.inputImage = event.target;
      const input = event.target;
      if (input.files && input.files[0]) {
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.imagePreview = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
  },
};
</script>
