<template>
  <md-card md-class="md-accent" style="color: black; margin-top: 10px;" md-with-hover>
    <md-card-header>
      <div class="md-title">Convites Enviados</div>
      <div class="md-subhead">Convites recebidos para participar de outros times.</div>
    </md-card-header>
    <md-card-content>
      <md-list class="custom-list md-double-line">
        <md-list-item v-for="invite in invites" :key="invite.id">
        <md-layout>
          <div class="md-list-text-container">
            <div class="md-title">{{ invite.email }}</div>
          </div>
        </md-layout>
          <md-button class="md-warn md-raised md-list-action" @click.native="reject(invite.id)">
            Excluir
          </md-button>
          <md-divider class="md-inset"></md-divider>
        </md-list-item>
        <div v-if="invites.length == 0" class="sub-head" align="center">Não há convites pendentes.</div>
      </md-list>
    </md-card-content>
  </md-card>
</template>
<script>
import inviteService from '@/services/invite';

export default {
  props: ['bus'],
  async mounted() {
    this.findSentInvites();
    this.bus.$on('findSentInvites', () => {
      this.findSentInvites();
    });
  },
  data() {
    return {
      invites: [],
    };
  },
  methods: {
    async findSentInvites() {
      this.invites = await inviteService.findSent(this.$route.params.id);
    },
    async reject(inviteId) {
      const message = await inviteService.reject(inviteId);
      this.$emit('removeInvite', message);
      this.findSentInvites();
    },
  },
};
</script>
