<template>
  <md-layout md-align="center">
    <md-layout md-column md-flex-xsmall="100" md-flex="70" style="padding-top: 10px; padding-bottom: 10px;">
      <md-theme md-name="card">
        <md-card style="color: black;" md-with-hover>
          <form @submit.prevent="edit()">
            <md-card-header>
              <div class="md-title">Informações Pessoais</div>
              <div class="md-subhead">Ver e Editar suas informações pessoais.</div>
            </md-card-header>
            <md-card-content>
              <div align="center">
                <md-avatar class="md-avatar-icon md-large">
                  <img v-if="imagePreview" :src="imagePreview" width="120" height="40" >
                  <img v-else :src="account.image.link">
                </md-avatar>
              </div>
              <md-input-container>
                <label>Imagem de Perfil</label>
                <md-file @change.native="changeImage" accept="image/jpg, image/jpeg" ></md-file>
              </md-input-container>
              <md-input-container>
                <label>Nome</label>
                <md-input id="name" :value="account.name" required></md-input>
              </md-input-container>
              <md-input-container>
                <label>E-mail</label>
                <md-input id="email" type="email" :value="account.email" required></md-input>
              </md-input-container>
              <md-input-container id="password">
                <label>Senha</label>
                <md-input v-model="password" type="password" required></md-input>
                <span class="md-error">{{ messagePassword }}</span>
              </md-input-container>
              <md-input-container id="passwordConfirm">
                <label>Repita a Senha</label>
                <md-input v-model="passwordConfirm" type="password" required></md-input>
                <span class="md-error">{{ messagePasswordConfirm }}</span>
              </md-input-container>
            </md-card-content>
            <md-card-actions>
              <md-button @click.native="home" type="submit" class="md-primary md-accent">Voltar</md-button>
              <md-button type="submit" class="md-raised md-primary">Enviar</md-button>
            </md-card-actions>
          </form>
        </md-card>
      </md-theme>
      <md-snackbar md-position="bottom left" ref="snackbar" md-duration="4000">
        <span>{{ message }}</span>
        <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
      </md-snackbar>
    </md-layout>
  </md-layout>
</template>
<script>
import accountService from '@/services/account';

export default {
  data() {
    return {
      message: '',
      messagePassword: '',
      messagePasswordConfirm: '',
      password: '',
      passwordConfirm: '',
      imagePreview: '',
      inputImage: '',
    };
  },
  computed: {
    account() {
      return this.$store.getters['account/account'];
    },
  },
  methods: {
    home() {
      this.$router.push({ path: 'home' });
    },
    async edit() {
      if (this.validate()) {
        const account = {};
        let responseUpload = '';
        account.name = window.$('#name').val();
        account.email = window.$('#description').val();
        account.password = this.password;
        if (this.inputImage) {
          responseUpload = await accountService.uploadImage(this.inputImage);
        }
        if (responseUpload.error) {
          this.message = responseUpload.error;
        } else {
          if (responseUpload) account.image = responseUpload;
          const response = await accountService.edit(account);
          if (response.error) {
            this.message = response.error;
          } else {
            this.message = response;
          }
          await accountService.find();
          this.password = '';
          this.passwordConfirm = '';
        }
        this.showMessage();
      }
    },
    showMessage() {
      this.$refs.snackbar.open();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
    validate() {
      let validate = true;
      if (this.password !== this.passwordConfirm) {
        this.messagePasswordConfirm = 'As senhas não conferem.';
        window.$('#passwordConfirm').addClass('md-input-invalid');
        validate = false;
      }
      return validate;
    },
    changeImage(event) {
      this.inputImage = event.target;
      const input = event.target;
      if (input.files && input.files[0]) {
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.imagePreview = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
  },
};
</script>
