<template>
      <md-card md-with-hover>
        <md-card-area>

          <md-card-header>
            <div class="md-title" style=" width: 250px;">Prêmios Atribuídos</div>
            <div class="md-subhead">Lista com as últimas premiações feitas pelo time.</div>
          </md-card-header>

          <md-card-content>
            <md-layout md-column>
              <v-client-table
              :data="prizes"
              :columns="columns"
              :options="options">
            </v-client-table>
          </md-layout>

          <md-layout md-align="end">
            <md-layout md-align="left">
              <md-button id="firstPrize" class="md-primary md-raised" @click.native="findPrizes(1)">Primeira</md-button>
              <md-button id="previousPrize" class="md-primary md-raised" @click.native="findPrizes(response.current_page-1)">Anterior</md-button>
            </md-layout>
            <md-button id="nextPrize" class="md-primary md-raised" @click.native="findPrizes(response.current_page+1)">Próxima</md-button>
          </md-layout>
        </md-card-content>

      </md-card-area>

      <md-card-actions>
        <form-premiar v-on:createPrize="createPrize"></form-premiar>
      </md-card-actions>

    </md-card>
</template>
<script>
import Vue from 'vue';
import { ClientTable, Event } from 'vue-tables-2';
import prizeService from '@/services/prize';
import commentColumn from './TableColumnComment';
import evaluatedColumn from './TableColumnEvaluated';
import authorColumn from './TableColumnAuthor';
import medalColumn from './TableColumnMedal';

Vue.use(ClientTable);


export default {
  props: ['bus'],
  async mounted() {
    await this.findPrizes();
    this.bus.$on('findPrizes', () => {
      this.findPrizes();
    });
  },
  data() {
    return {

      response: {},
      prizes: [],
      columns: ['evaluated', 'medal', 'author', 'comment'],
      options: {
        filterable: false,
        headings: {
          evaluated: 'Premiado',
          medal: 'Selo',
          author: 'Autor',
          comment: 'Comentário',
        },
        texts: {
          filter: 'Buscar:',
          count: '',
          limit: 'Por página:',
          filterPlaceholder: 'Buscar o comentário:',
          noResults: 'Não foram encontrados prêmios.',
        },
        orderBy: {
          ascending: false,
          column: 'id',
        },
        pagination: {
          chunk: 10,
        },
        perPage: 10,
        templates: {
          evaluated: evaluatedColumn,
          medal: medalColumn,
          author: authorColumn,
          comment: commentColumn,
        },
      },
    };
  },
  methods: {
    async findPrizes(page = 1) {
      this.response = await prizeService.find(this.$route.params.id, page);
      this.prizes = await this.response.data;
      this.managePagination();
    },
    managePagination() {
      if (this.response.prev_page_url) {
        window.$('#previousPrize').prop('disabled', false);
        window.$('#firstPrize').prop('disabled', false);
      } else {
        window.$('#previousPrize').prop('disabled', true);
        window.$('#firstPrize').prop('disabled', true);
      }
      if (this.response.next_page_url) window.$('#nextPrize').prop('disabled', false);
      else window.$('#nextPrize').prop('disabled', true);
    },
    createPrize(message) {
      this.$emit('createPrize', message);
      this.findPrizes();
    },
    async filterAction(type) {
      Event.$emit('vue-tables.filter::action', type);
      await this.findFeedbacks();
      this.managePagination();
    },
  },
  components: {
    FormPremiar: require('@/components/FormPremiar.vue'),
  },
};
</script>
<style>
select {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}
</style>
