<template>
  <md-card md-with-hover>
    <md-card-header>
      <div class="md-title">Seu Desempenho nos Feedbacks</div>
      <div class="md-subhead">Sua posição em relação a quantidade de feedbacks enviados.</div>
    </md-card-header>
    <md-card-content>
      <div align="center" class="md-subheading">Pontuação Total: {{totalPoints}} ponto(s)</div>
    </md-card-content>
    <md-card-content>
      <md-layout md-align="center">
      <md-layout md-align="center" v-for="(feedback, i) in myFeedbacks" :key="feedback.option.id" md-flex-small="100" md-flex-xsmall="100" md-flex="50" md-column style="padding: 10px">
        <md-card md-with-hover style="min-height: 160px">
          <md-card-header>
            <div class="md-title">{{ feedback.option.value }}</div>
          </md-card-header>
          <md-card-content>
            <md-layout v-if="feedback.rank.position != 0">
              <md-layout md-align="center" md-flex-xsmall="100" md-flex="50">
                <span class="md-subheading">Posição: {{feedback.rank.position}}º lugar</span>
              </md-layout>

              <md-layout md-align="center" md-flex-xsmall="100" md-flex="50">
                <span class="md-subheading">Pontuação: {{feedback.rank.points}} ponto(s)</span>
              </md-layout>
            </md-layout>
            <md-layout v-else md-align="center" md-flex="100">
              <span class="md-subheading">Você ainda não enviou este feedback para alguém.</span>
            </md-layout>
          </md-card-content>
        </md-card>
      </md-layout>
      </md-layout>
    </md-card-content>
  </md-card>
</template>
<script>
import feedbackService from '@/services/feedback';

export default {
  mounted() {
    this.updateFeedback();
  },
  methods: {
    async updateFeedback() {
      this.myFeedbacks = await feedbackService.findRanking(this.$route.params.id);
    },
  },
  computed: {
    totalPoints() {
      let total = 0;
      for (let i = 0; i < this.myFeedbacks.length; i += 1) {
        total += this.myFeedbacks[i].rank.points;
      }
      return total;
    },
  },
  data() {
    return {
      myFeedbacks: [],
    };
  },
};
</script>
