<template>
  <md-card md-with-hover style="color: black;">
    <form @submit.prevent="createInvite()">
      <md-card-area>
        <md-card-header>
          <div class="md-title">Convidar Pessoas para o Time</div>
          <div class="md-subhead">Digite o email para enviar um convite.</div>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <label>Digite o Email:</label>
            <md-input v-model="inviteInput" type="email" required></md-input>
          </md-input-container>
        </md-card-content>
      </md-card-area>
      <md-card-actions>
        <md-button :disabled='!hiddenLoading' @click.native="clean()" class="md-primary">Limpar</md-button>
        <md-button :disabled='!hiddenLoading' type="submit" class="md-primary md-raised">Enviar</md-button>
      </md-card-actions>
    </form>
    <md-progress id="inviteLoading" :hidden="hiddenLoading" md-indeterminate></md-progress>
  </md-card>
</template>
<script>
import inviteService from '@/services/invite';

export default {
  props: ['bus'],
  data() {
    return {
      inviteInput: null,
      hiddenLoading: true,
      message: null,
    };
  },
  computed: {
    preparedInvite() {
      return { email: this.inviteInput };
    },
  },
  watch: {
    message() {
      this.showMessage();
    },
  },
  methods: {
    clean() {
      this.inviteInput = '';
    },
    async createInvite() {
      this.hiddenLoading = false;
      this.message = await inviteService.create(this.$route.params.id, this.preparedInvite);
      this.hiddenLoading = true;
      this.bus.$emit('findSentInvites');
    },
    showMessage() {
      this.$emit('createInviteMember', this.message);
    },
  },
};
</script>
