<template>
  <md-theme md-name="card">
    <md-card md-with-hover>
      <md-card-area md-inset>
        <md-card-header>
          <div class="md-title">Seu Desempenho Geral em Avaliações</div>
          <div class="md-subhead" v-if="members == ''">Você ainda não possui membros nesse time para receber resultados.</div>
          <div class="md-subhead" v-else>Média por pergunta baseada na avaliação dos membros.</div>
        </md-card-header>
        <md-card-content>
          <div align="center" class="md-subheading" v-if="members != ''">Pontuação Total: {{totalPoints}} ponto(s)</div>
        </md-card-content>
        <md-card-content v-if="members != ''">
          <md-layout md-align="center">
          <md-layout v-for="(appraisal, i) in myAppraisals" :key="appraisal.id" md-flex-small="100" md-flex-xsmall="100" md-flex="50" md-column style="padding: 10px">
            <md-card md-with-hover>
              <md-card-header style="min-height: 100px">
                <div class="md-title">{{ appraisal.value }}</div>
              </md-card-header>
              <md-card-content style="min-height: 110px" v-if="myRanking[i] && myRanking[i].rank.position != 0">
                <md-layout md-align="center" v-if="appraisal.type == 'GRADUAL'">
                  <md-theme md-name="radio">
                    <md-layout v-if="appraisal.appraisal.value == '-2'">
                      <md-icon class="md-size-2x md-warn">sentiment_very_dissatisfied</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Péssimo(a)</span>
                    </md-layout>
                    <md-layout v-if="appraisal.appraisal.value == '-1'">
                      <md-icon class="md-size-2x md-warn">sentiment_dissatisfied</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Ruim</span>
                    </md-layout>
                    <md-layout v-if="appraisal.appraisal.value == '0'">
                      <md-icon class="md-size-2x md-accent">sentiment_neutral</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Neutro(a)</span>
                    </md-layout>
                    <md-layout v-if="appraisal.appraisal.value == '1'">
                      <md-icon class="md-size-2x md-primary">sentiment_satisfied</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Bom(a)</span>
                    </md-layout>
                    <md-layout v-if="appraisal.appraisal.value == '2'">
                      <md-icon class="md-size-2x md-primary">sentiment_very_satisfied</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Ótimo(a)</span>
                    </md-layout>
                  </md-theme>
                </md-layout>
                <md-layout md-align="center" v-else-if="appraisal.type == 'BOOLEAN'">
                  <md-theme md-name="radio">
                    <md-layout v-if="appraisal.appraisal.value == '-1'">
                      <md-icon class="md-size-2x md-warn">thumb_down</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Não</span>
                    </md-layout>
                    <md-layout v-if="appraisal.appraisal.value == '0'">
                      <md-icon class="md-size-2x md-accent">sentiment_neutral</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Neutro(a)</span>
                    </md-layout>
                    <md-layout v-if="appraisal.appraisal.value == '1'">
                      <md-icon class="md-size-2x md-primary">thumb_up</md-icon>
                      <span style="padding-left: 15px; padding-top: 15px">Sim</span>
                    </md-layout>
                  </md-theme>
                </md-layout>

                <md-layout>
                  <md-layout md-align="center" md-flex-xsmall="100" md-flex="50">
                    <span v-if="myRanking[i]" class="md-subheading">Posição: {{myRanking[i].rank.position}}º lugar</span>
                  </md-layout>

                  <md-layout md-align="center" md-flex-xsmall="100" md-flex="50">
                    <span v-if="myRanking[i]" class="md-subheading">Pontuação: {{myRanking[i].rank.points}} ponto(s)</span>
                  </md-layout>
                </md-layout>
              </md-card-content>
              <md-card-content v-else>
                <md-layout>
                  <md-layout md-align="center" md-flex="100">
                    <span class="md-subheading">Você ainda não foi avaliado neste critério.</span>
                  </md-layout>
                </md-layout>
              </md-card-content>
            </md-card>
            </md-layout>
          </md-layout>
        </md-card-content>
      </md-card-area>
    </md-card>
  </md-theme>
</template>
<script>
import appraisalService from '@/services/appraisal';

export default {
  mounted() {
    this.updateAppraisal();
  },
  data() {
    return {
      myAppraisals: [],
      myRanking: [],
    };
  },
  methods: {
    async updateAppraisal() {
      this.myAppraisals = await appraisalService.findMyAppraisal(this.$route.params.id);
      this.myRanking = await appraisalService.findRanking(this.$route.params.id);
    },
  },
  computed: {
    members() {
      return this.$store.getters['team/team'].members;
    },
    totalPoints() {
      let total = 0;
      for (let i = 0; i < this.myAppraisals.length; i += 1) {
        total += this.myAppraisals[i].appraisal.grade;
      }
      return total;
    },
  },
};
</script>
