<template>
  <md-layout md-align="center" md-column md-flex-xsmall="100" md-flex-small="100" md-flex-medium="80" md-flex-large="60">
    <md-theme md-name="card">
      <md-card style="color: black;" md-with-hover>
        <md-progress v-show="members == ''" md-indeterminate></md-progress>
        <md-card-header>
          <md-avatar class="md-avatar-icon md-large">
            <img v-if="team.image" :src="team.image.link">
          </md-avatar>
          <md-card-header-text>
            <div class="md-display-1"><md-layout md-align="start">{{team.name}}</md-layout></div>
            <div class="md-title">{{team.description}}</div>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <form-dialog-new-invite v-if="team.profile.type == 'administrador'"></form-dialog-new-invite>
          <md-card style="color: black;" md-with-hover v-show="members">
            <md-card-header>
              <div v-if="score.position != 0">
                <div class="md-title" align="center" v-if="score.points != undefined">Sua Pontuação Geral: {{score.points}} ponto(s)</div>
                <div class="md-title" align="center" v-if="score.position != undefined">Sua Posição: {{score.position}}º lugar</div>
              </div>
              <div v-else-if="score.position !== ''" class="md-subheading" align="center">Seu desempenho médio será exibido aqui conforme for avaliado pelos membros.</div>
            </md-card-header>
          </md-card>
          <md-divider md-inset style="margin: 10px"></md-divider>
          <div class="md-title" style="padding: 10px" v-if="members">
              <md-layout md-flex="80">Membros do Time</md-layout>
          </div>
          <div class="md-subhead" align="center" v-else-if="members == undefined" style="padding: 10px">Novos membros ainda não foram confirmados neste time.</div>
          <md-card md-with-hover v-show="members" v-for="member in members" :key="member.id" style=" margin-bottom: 10px;">
            <md-card-area>
              <md-card-header>
                <md-avatar class="md-avatar-icon">
                  <img v-if="member.account.image" :src="member.account.image.link">
                </md-avatar>
                <md-card-header-text>
                  <div class="md-title">{{ member.account.name }}</div>
                  <div class="md-subhead">{{ member.account.email }}</div>
                  <div v-if="member.profile.type == 'administrador'" class="md-subhead" style="color: Green; opacity: 0.8;">Administrador</div>
                </md-card-header-text>
                <md-menu md-size="4" md-direction="up left" v-if="team.profile.type == 'administrador'">
                  <md-button class="md-icon-button" md-menu-trigger>
                    <md-icon>more_vert</md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item @click.native="removeMember(member.id)">
                      <md-icon>cancel</md-icon>
                      <span>Remover Membro</span>
                    </md-menu-item>
                    <md-menu-item @click.native="setMemberProfile(member.id, member.profile.type != 'administrador')">
                      <md-icon>person</md-icon>
                      <span v-if="member.profile.type == 'administrador'">Desfazer Adm.</span>
                      <span v-else>Marcar como Adm.</span>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-card-header>
            </md-card-area>
              <md-card-actions>
                <md-layout md-align="end">
                  <form-dialog-new-appraisal :appraisals="appraisals" :member="member" v-on:send="send"></form-dialog-new-appraisal>
                  <form-dialog-add-feedback :feedbackOptions="feedbackOptions" v-on:createFeedback="createFeedback" :selectedMember="member.id"></form-dialog-add-feedback>
                  <form-premiar v-on:createPrize="createPrize" :selectedMember="member.id"></form-premiar>
                </md-layout>
              </md-card-actions>
          </md-card>
        </md-card-content>
      </md-card>
    </md-theme>
  </md-layout>
</template>
<script>
import feedbackService from '@/services/feedback';
import teamService from '@/services/team';
import memberService from '@/services/member';

export default {
  async mounted() {
    this.feedbackOptions = await feedbackService.findOptions();
    this.score = await teamService.findScore(this.$route.params.id);
  },
  props: ['members', 'appraisals', 'bus'],
  data() {
    return {
      feedbackOptions: [],
      score: [],
    };
  },
  computed: {
    team() {
      return this.$store.getters['team/team'];
    },
  },
  methods: {
    async removeMember(memberId) {
      // eslint-disable-next-line
      const response = confirm('Deseja remover este membro do time?');
      if (response === true) {
        const message = await memberService.remove(memberId);
        await teamService.find(this.$route.params.id);
        this.createFeedback(message);
      }
    },
    async setMemberProfile(memberId, isAdmin) {
      let question = '';
      if (isAdmin) question = 'Deseja marcar este membro como administrador do time?';
      else question = 'Deseja desmarcar este membro como administrador do time?';
      // eslint-disable-next-line
      const response = confirm(question);
      if (response === true) {
        const message = await memberService.changeProfile(memberId, isAdmin);
        await teamService.find(this.$route.params.id);
        if (message.error) this.createFeedback(message.error);
        else this.createFeedback(message);
      }
    },
    createPrize(message) {
      this.$emit('createPrize', message);
      this.bus.$emit('findPrizes');
    },
    createFeedback(message) {
      this.$emit('createFeedback', message);
    },
    send(message) {
      this.$emit('send', message);
      this.bus.$emit('findMyAppraisals');
    },
  },
  components: {
    FormPremiar: require('@/components/FormPremiar.vue'),
    FormDialogAddFeedback: require('@/components/FormDialogAddFeedback.vue'),
    FormDialogNewAppraisal: require('@/components/FormDialogNewAppraisal.vue'),
    FormDialogNewInvite: require('@/components/FormDialogNewInvite.vue'),
  },
};
</script>
