<template>
  <span style="padding-left: 10px">
    <md-dialog :md-open-from="'#' + btnName" :md-close-to="'#' + btnName" :ref="modalName">
        <md-dialog-title>Premiar um Membro</md-dialog-title>
        <md-dialog-content>
          <form @submit.prevent="createPrize()">
          <md-input-container :hidden="memberInputHidden">
            <label for="member">Membro:</label>
            <md-select name="member" id="member" v-model="memberInput" required>
              <md-option v-for="member in members" :key="member.id" :value="member.id">{{ member.account.name }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label for="medal">Selo:</label>
            <md-select name="medal" id="medal" v-model="medalInput" required>
              <md-option v-for="medal in medals.medals" v-if="medal.status == 'ativo'" :key="medal.id" :value="medal.id">{{ medal.name }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Comentário</label>
            <md-input v-model="commentInput" required></md-input>
          </md-input-container>
          <md-layout md-align="center">
            <md-button id="btnCancel" class="md-primary" @click.native="closeDialog(modalName)">Cancelar</md-button>
            <md-button id="btnSend" type="submit" class="md-primary md-raised">Enviar</md-button>
          </md-layout>
        </form>
        </md-dialog-content>
        <md-progress id="prizeLoading" hidden md-indeterminate></md-progress>
    </md-dialog>
    <md-button :id="'#' + btnName" @click.native="openDialog(modalName)" type="submit" class="md-raised md-primary">Premiar</md-button>
  </span>
</template>
<script>
import prizeService from '@/services/prize';
import medalService from '@/services/medal';

export default {
  props: ['selectedMember'],
  mounted() {
    if (this.selectedMember) {
      this.memberInput = this.selectedMember;
      this.memberInputHidden = true;
      this.modalName = `modalMemberPrize${this.selectedMember}`;
      this.btnName = `btnMemberPrize${this.selectedMember}`;
    }
  },
  data() {
    return {
      memberInput: null,
      medalInput: null,
      commentInput: null,
      medals: '',
      memberInputHidden: false,
      modalName: 'modalMemberPrize',
      btnName: 'btnMemberPrize',
    };
  },
  computed: {
    members() {
      return this.$store.getters['team/team'].members;
    },
  },
  methods: {
    async createPrize() {
      window.$('#prizeLoading').prop('hidden', false);
      window.$('#btnSend').prop('disabled', true);
      window.$('#btnCancel').prop('disabled', true);
      let message = '';
      const response = await prizeService.create(
        this.$route.params.id,
        this.memberInput,
        this.medalInput,
        this.commentInput);
      if (!response.error) {
        this.closeDialog(this.modalName);
        message = response;
        this.medalInput = '';
        this.commentInput = '';
      } else {
        message = response.error;
      }
      window.$('#btnSend').prop('disabled', false);
      window.$('#btnCancel').prop('disabled', false);
      window.$('#prizeLoading').prop('hidden', true);
      this.$emit('createPrize', message);
    },
    async findMedals() {
      this.medals = await medalService.find(this.$route.params.id);
    },
    openDialog(ref) {
      this.findMedals();
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
  },
};
</script>
