<template>
  <span style="padding-bottom: 5px;">
    <md-dialog :md-open-from="'#' + btnName" :md-close-to="'#' + btnName" :ref="modalName">
        <md-dialog-title>Avaliação do Membro: {{ member.account.name }}</md-dialog-title>
        <md-dialog-content>
              <md-layout md-align="center" v-for="(appraisal, i) in appraisals" :key="i" md-inset>
                <md-theme md-name="radio">
                  <md-layout md-flex="100" md-align="center" style="padding-top: 10px">
                    <p>{{ appraisal.value }}:</p>
                  </md-layout>
                  <md-layout v-if="appraisal.type == 'GRADUAL'" md-flex="100" md-align="center" style="padding-bottom: 10px">
                    <md-radio v-model="appraisalValue[i]" @change="send(i, -2)" md-value="-2" class="md-warn">
                      <md-icon class="md-size-2x md-warn">sentiment_very_dissatisfied</md-icon>
                    </md-radio>
                    <md-radio v-model="appraisalValue[i]" @change="send(i, -1)" md-value="-1" class="md-warn">
                      <md-icon class="md-size-2x md-warn">sentiment_dissatisfied</md-icon>
                    </md-radio>
                    <md-radio v-model="appraisalValue[i]" @change="send(i, 0)" md-value="0">
                      <md-icon class="md-size-2x md-accent">sentiment_neutral</md-icon>
                    </md-radio>
                    <md-radio v-model="appraisalValue[i]" @change="send(i, 1)" md-value="1" class="md-primary">
                      <md-icon class="md-size-2x md-primary">sentiment_satisfied</md-icon>
                    </md-radio>
                    <md-radio v-model="appraisalValue[i]" @change="send(i, 2)" md-value="2" class="md-primary">
                      <md-icon class="md-size-2x md-primary">sentiment_very_satisfied</md-icon>
                    </md-radio>
                    <md-divider></md-divider>
                  </md-layout>

                  <md-layout v-else-if="appraisal.type == 'BOOLEAN'" md-flex="100" md-align="center" style="padding-bottom: 10px">
                    <md-radio v-model="appraisalValue[i]" @change="send(i, -1)" md-value="-1" class="md-warn"><md-icon class="md-size-2x md-warn">thumb_down</md-icon></md-radio>
                    <md-radio v-model="appraisalValue[i]" @change="send(i, 0)" md-value="0"><md-icon class="md-size-2x md-accent">sentiment_neutral</md-icon></md-radio>
                    <md-radio v-model="appraisalValue[i]" @change="send(i, 1)" md-value="1" class="md-primary"><md-icon class="md-size-2x md-primary">thumb_up</md-icon></md-radio>
                  </md-layout>
                  <md-divider md-inset></md-divider>
                </md-theme>
              </md-layout>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary md-raised" @click.native="closeDialog(modalName)">Finalizar</md-button>
        </md-dialog-actions>
    </md-dialog>
      <md-button class="md-primary md-raised" :id="'#' + btnName"  @click.native="openDialog(modalName)">
        Avaliar
      </md-button>
  </span>
</template>
<script>
import appraisalTransformer from './../transformers/appraisal';
import appraisalService from '@/services/appraisal';

export default {
  props: ['member', 'appraisals'],
  mounted() {
    this.modalName = `modalNewAppraisal${this.member.id}`;
    this.btnName = `modalNewAppraisal${this.member.id}`;
  },
  data() {
    return {
      memberInputHidden: false,
      modalName: 'modalNewAppraisal',
      btnName: 'modalNewAppraisal',
      appraisalValue: [],
    };
  },
  computed: {
    members() {
      return this.$store.getters['team/team'].members;
    },
  },
  methods: {
    openDialog(ref) {
      this.updateAppraisal();
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    async updateAppraisal() {
      const memberAppraisal = await appraisalService.findMemberAppraisal(
        this.$route.params.id,
        this.member.id);
      this.appraisalValue = [];
      for (let i = 0; i < this.appraisals.length; i += 1) {
        if (memberAppraisal[i].appraisal) {
          this.appraisalValue.push(memberAppraisal[i].appraisal.value);
        } else {
          this.appraisalValue.push('');
        }
      }
    },
    async send(i, value) {
      const appraisal = appraisalTransformer.create(
          this.appraisals[i],
          this.member,
          value);
      const message = await appraisalService.create(this.$route.params.id, appraisal);
      this.updateAppraisal();
      this.$emit('send', message);
    },
  },
};
</script>
