<template>
  <md-layout>
    <md-dialog md-open-from="#btnForgotPassword" md-close-to="#btnForgotPassword" ref="modalForgotPassword">
      <form @submit.prevent="sendEmail()">
        <md-dialog-title>
          Esqueci a senha
        </md-dialog-title>
        <md-dialog-content>
          <div class="md-subhead">Digite o email da conta a ser recuperada.</div>
          <md-input-container>
            <label>Email</label>
            <md-input v-model="email" type="email" required></md-input>
          </md-input-container>
          <md-layout md-align="center">
            <md-button class="md-primary" @click.native="closeDialog('modalForgotPassword')" id="btnCancel">Cancelar</md-button>
            <md-button type="submit" class="md-primary md-raised" id="btnSendEmail">Enviar</md-button>
          </md-layout>
        </md-dialog-content>
      </form>
      <md-progress id="loading" hidden md-indeterminate></md-progress>
    </md-dialog>
    <md-layout md-align="end">
      <md-button id="btnForgotPassword" @click.native="openDialog('modalForgotPassword')" class="md-accent">Esqueci a senha</md-button>
    </md-layout>
  </md-layout>
</template>
<script>
import accountService from '@/services/account';

export default {
  data() {
    return {
      email: '',
    };
  },
  methods: {
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    async sendEmail() {
      window.$('#loading').prop('hidden', false);
      window.$('#btnSendEmail').prop('disabled', true);
      window.$('#btnCancel').prop('disabled', true);
      const response = await accountService.forgotPassword(this.email);
      if (!response.error) {
        this.closeDialog('modalForgotPassword');
        this.message = response;
        this.email = '';
      } else {
        this.message = response.error;
      }
      window.$('#btnSendEmail').prop('disabled', false);
      window.$('#btnCancel').prop('disabled', false);
      window.$('#loading').prop('hidden', true);
      this.$emit('sendEmail', this.message);
    },
  },
};
</script>
