<template>
  <md-layout md-align="end">
    <md-dialog md-open-from="#inviteMember" md-close-to="#inviteMember" ref="modalNewInvite">
        <md-dialog-title>Convidar Novos Membros para o Time</md-dialog-title>
        <md-dialog-content>
          <form @submit.prevent="createInvite()">
                <md-input-container>
                  <label>Digite o Email:</label>
                  <md-input v-model="inviteInput" type="email" required></md-input>
                </md-input-container>
              <md-layout md-align="center">
                <md-button id="btnCancel" class="md-primary" @click.native="closeDialog('modalNewInvite')">Cancelar</md-button>
                <md-button id="btnSend" type="submit" class="md-primary md-raised">Enviar</md-button>
              </md-layout>
          </form>
        </md-dialog-content>
        <md-progress id="newInviteLoading" hidden md-indeterminate></md-progress>
    </md-dialog>
    <md-button class="md-primary md-raised" id="#inviteMember"  @click.native="openDialog('modalNewInvite')">Convidar</md-button>

    <md-snackbar md-position="bottom left" ref="snackbar" md-duration="2000">
      <span>{{ message }}</span>
      <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
    </md-snackbar>

  </md-layout>
</template>
<script>
import inviteService from '@/services/invite';

export default {
  data() {
    return {
      inviteInput: null,
      hiddenLoading: true,
      message: null,
    };
  },
  computed: {
    preparedInvite() {
      return { email: this.inviteInput };
    },
  },
  methods: {
    async createInvite() {
      window.$('#newInviteLoading').prop('hidden', false);
      window.$('#btnSend').prop('disabled', true);
      window.$('#btnCancel').prop('disabled', true);
      this.message = await inviteService.create(this.$route.params.id, this.preparedInvite);
      window.$('#btnSend').prop('disabled', false);
      window.$('#btnCancel').prop('disabled', false);
      window.$('#newInviteLoading').prop('hidden', true);
      this.showMessage();
      this.closeDialog('modalNewInvite');
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    showMessage() {
      this.$refs.snackbar.open();
      this.$forceUpdate();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
  },
};
</script>
