<template>
  <span style="padding-bottom: 5px; padding-left: 10px">
      <md-dialog :md-open-from="'#' + btnName" :md-close-to="'#' + btnName" :ref="modalName">
        <md-dialog-title>Enviar Feedback</md-dialog-title>
          <md-dialog-content>
            <form @submit.prevent="createFeedback()">
            <md-input-container :hidden="memberInputHidden">
              <label for="member">Quem receberá?</label>
              <md-select name="member" id="member" v-model="feedback.evaluated.id" required>
                <md-option v-for="member in members" :key="member.id" :value="member.id">{{ member.account.name }}</md-option>
              </md-select>
            </md-input-container>
            <p>O que o membro deve fazer?</p>
              <md-radio v-for="option in feedbackOptions" v-model="feedback.option.id" name="action" :key="option.id" :md-value="option.id" class="md-primary" required>{{ option.value }}</md-radio>
            <p>Faça um comentário descrevendo a ação selecionada acima:</p>
            <md-input-container>
              <label>Comentário</label>
              <md-textarea v-model="feedback.comment" required></md-textarea>
            </md-input-container>
            <md-layout md-align="center">
              <md-button id="btnCancel" class="md-primary" @click.native="closeDialog(modalName)">Cancelar</md-button>
              <md-button id="btnSend" type="submit" class="md-primary md-raised">Enviar</md-button>
            </md-layout>
            </form>
          </md-dialog-content>
          <md-progress id="feedbackLoading" hidden md-indeterminate></md-progress>
      </md-dialog>
        <md-button :id="'#' + btnName" @click.native="openDialog(modalName)" class="md-primary md-raised">
          Enviar Feedback
        </md-button>
  </span>
</template>
<script>
import feedbackService from '@/services/feedback';

export default {
  props: ['feedbackOptions', 'selectedMember'],
  mounted() {
    if (this.selectedMember) {
      this.feedback.evaluated.id = this.selectedMember;
      this.memberInputHidden = true;
      this.modalName = `modalAddFeedback${this.selectedMember}`;
      this.btnName = `btnAddFeedback${this.selectedMember}`;
    }
  },
  data() {
    return {
      memberInputHidden: false,
      modalName: 'modalAddFeedback',
      btnName: 'btnAddFeedback',
      feedback: {
        comment: null,
        evaluated: {
          id: null,
        },
        option: {
          id: 2,
        },
      },
    };
  },
  computed: {
    members() {
      return this.$store.getters['team/team'].members;
    },
  },
  methods: {
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    async createFeedback() {
      window.$('#feedbackLoading').prop('hidden', false);
      window.$('#btnSend').prop('disabled', true);
      window.$('#btnCancel').prop('disabled', true);
      let message = '';
      const response = await feedbackService.create(
        this.$route.params.id,
        this.feedback,
      );
      if (!response.error) {
        this.feedback.comment = '';
        this.closeDialog(this.modalName);
        message = response;
      } else {
        message = response.error;
      }
      window.$('#btnSend').prop('disabled', false);
      window.$('#btnCancel').prop('disabled', false);
      window.$('#feedbackLoading').prop('hidden', true);
      this.$emit('createFeedback', message);
    },
  },
};
</script>
