<template>
  <md-layout>
    <md-dialog md-open-from="#btnCreateMedal" md-close-to="#btnCreateMedal" ref="modalCreateMedal">
      <form @submit.prevent="createMedal()">
        <md-dialog-title>Criar um Novo Selo</md-dialog-title>

        <md-dialog-content id="addCreateMedalContent">

          <md-input-container>
            <label>Nome</label>
            <md-input v-model="medal.name" required></md-input>
          </md-input-container>

          <md-input-container>
            <label>Descrição</label>
            <md-textarea v-model="medal.description" required></md-textarea>
          </md-input-container>

          <md-input-container>
            <label>Peso</label>
            <md-input v-model="medal.scorevalue" type="number" required></md-input>
          </md-input-container>
          <md-layout md-align="center">
            <md-button id="buttonSend" class="md-primary" @click.native="closeDialog('modalCreateMedal')">Cancelar</md-button>
            <md-button id="buttonCancel" type="submit" class="md-primary md-raised">Enviar</md-button>
          </md-layout>

        </md-dialog-content>

      </form>
      <md-progress id="createMedalLoading" hidden md-indeterminate></md-progress>
    </md-dialog>
    <md-layout md-align="end">
      <md-button id="btnCreateMedal" @click.native="openDialog('modalCreateMedal')" type="submit" class="md-raised md-primary">Novo Selo</md-button>
    </md-layout>
  </md-layout>
</template>
<script>
import medalService from '@/services/medal';

export default {
  data() {
    return {
      medal: {
        name: null,
        description: null,
        scorevalue: 1,
        status: 'ativo',
      },
    };
  },
  methods: {
    async createMedal() {
      window.$('#createMedalLoading').prop('hidden', false);
      window.$('#buttonSend').prop('disabled', true);
      window.$('#buttonCancel').prop('disabled', true);
      let message = '';
      const response = await medalService.create(this.$route.params.id, this.medal);
      window.$('#createMedalLoading').prop('hidden', true);
      window.$('#buttonSend').prop('disabled', false);
      window.$('#buttonCancel').prop('disabled', false);
      if (!response.error) {
        this.closeDialog('modalCreateMedal');
        message = response;
        this.clean();
      } else {
        message = response.error;
      }
      this.$emit('createMedal', message);
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    clean() {
      this.name = '';
      this.description = '';
    },
  },
};
</script>
