<template>
  <md-layout>
    <md-dialog md-open-from="#btnEditMedal" md-close-to="#btnEditMedal" ref="modalEditMedal">
      <form @submit.prevent="editMedal()">
        <md-dialog-title>Editar Selo</md-dialog-title>

        <md-dialog-content>

          <md-input-container>
            <label>Nome</label>
            <md-input v-model="newMedal.name" required></md-input>
          </md-input-container>

          <md-input-container>
            <label>Descrição</label>
            <md-input v-model="newMedal.description" required></md-input>
          </md-input-container>

          <md-input-container>
            <label>Peso</label>
            <md-input v-model="newMedal.scorevalue" type="number" required></md-input>
          </md-input-container>

          <md-switch v-model="statusBoolean" name="ativo" class="md-primary">Ativo</md-switch>
          <md-layout md-align="center">
            <md-button id="btnSend" class="md-primary" @click.native="closeDialog('modalEditMedal')">Cancelar</md-button>
            <md-button id="btnCancel" type="submit" class="md-primary md-raised">Enviar</md-button>
          </md-layout>

        </md-dialog-content>

      </form>
      <md-progress id="medalLoading" hidden md-indeterminate></md-progress>
    </md-dialog>
    <md-button class="md-icon-button md-primary" id="btnEditMedal" @click.native="openDialog('modalEditMedal')">
      <md-icon>edit</md-icon>
    </md-button>

    <md-snackbar md-position="bottom left" ref="snackbar" md-duration="2000">
      <span>{{ message }}</span>
      <md-button class="md-accent" @click.native="closeMessage()">Fechar</md-button>
    </md-snackbar>
  </md-layout>
</template>
<script>
import medalService from '@/services/medal';

export default {
  props: ['medal'],
  mounted() {
    this.newMedal.id = this.medal.id;
    this.newMedal.name = this.medal.name;
    this.newMedal.description = this.medal.description;
    this.newMedal.scorevalue = this.medal.scorevalue;
    this.updateStatus();
  },
  data() {
    return {
      newMedal: {
        name: null,
        description: null,
        scorevalue: null,
        status: null,
      },
      statusBoolean: null,
      message: null,
    };
  },
  methods: {
    async editMedal() {
      window.$('#medalLoading').prop('hidden', false);
      window.$('#btnSend').prop('disabled', true);
      window.$('#btnCancel').prop('disabled', true);
      this.updateStatusString();
      let message = '';
      const response = await medalService.edit(this.$route.params.id, this.newMedal);
      if (!response.error) {
        this.closeDialog('modalEditMedal');
        message = response;
      } else {
        message = response.error;
      }
      window.$('#btnSend').prop('disabled', false);
      window.$('#btnCancel').prop('disabled', false);
      window.$('#medalLoading').prop('hidden', true);
      this.showMessage(message);
    },
    updateStatus() {
      if (this.medal.status === 'ativo') this.statusBoolean = true;
      else this.statusBoolean = false;
    },
    updateStatusString() {
      if (this.statusBoolean) this.newMedal.status = 'ativo';
      else this.newMedal.status = 'inativo';
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    showMessage(message) {
      this.message = message;
      this.$refs.snackbar.open();
    },
    closeMessage() {
      this.$refs.snackbar.close();
    },
  },
};
</script>
