<template>
  <md-layout md-align="center" style="overflow-y:scroll">

    <md-button class="md-fab md-fab-bottom-right" style="position: fixed;" id="botaoNovoTime" @click.native="openDialog('modalNovoTime')">
      <md-icon>add</md-icon>
    </md-button>

    <md-dialog md-open-from="#botaoNovoTime" md-close-to="#botaoNovoTime" ref="modalNovoTime">
      <form @submit.prevent="create()" style="overflow: auto">
        <md-dialog-content>
          <div class="md-title">Criar um novo Time</div>
          <div align="center">
            <md-avatar class="md-avatar-icon md-large">
              <img v-if="imagePreview" :src="imagePreview">
              <img v-else :src="$http.defaults.baseURL + '/api/images/defaultTeam.jpg'">
            </md-avatar>
          </div>
          <md-input-container>
            <label>Imagem de Perfil</label>
            <md-file @change.native="changeImage" accept="image/jpg, image/jpeg"></md-file>
          </md-input-container>
          <md-input-container>
            <label>Nome</label>
            <md-input v-model="team.name" required></md-input>
          </md-input-container>

          <md-input-container>
            <label>Descrição</label>
            <md-textarea v-model="team.description" required></md-textarea>
          </md-input-container>

          <div class="md-title">Convidar novos membros</div>
          <div class="md-subhead">Informe os emails dos usuários a serem convidados para o time.</div>
        <md-layout v-for="i in countInvite" :key="i">
          <md-layout md-flex="85">
            <md-input-container :id="'emailInvite' + i">
              <label>Email</label>
              <md-input v-model="invitedInput[i]" type="email"></md-input>
              <span class="md-error">{{ emailInviteMessage }}</span>
            </md-input-container>
          </md-layout>
          <md-layout v-if="i !== 1" style="padding-top: 20px">
            <md-button v-if="countInvite > 1" @click.native="removeEmail(i)" class="md-icon-button md-dense md-warn"><md-icon>cancel</md-icon></md-button>
          </md-layout>
        </md-layout>
        <md-button @click.native="countInvite += 1" class="md-raised md-primary">Novo Email</md-button>

        </md-dialog-content>
      <md-dialog-actions>
        <md-button id="btnCancel" class="md-primary" @click.native="closeDialog('modalNovoTime')">Cancelar</md-button>
        <md-button id="btnSend" type="submit" class="md-primary md-raised">Enviar</md-button>
      </md-dialog-actions>
      </form>
      <md-progress id="teamLoading" hidden md-indeterminate></md-progress>
    </md-dialog>

  </md-layout>
</template>
<script>
import teamService from '@/services/team';
import accountService from '@/services/account';

export default {
  data() {
    return {
      team: {
        image: null,
        name: '',
        description: '',
        invited: [],
      },
      imagePreview: '',
      countInvite: 1,
      invitedInput: [''],
      emailInviteMessage: '',
    };
  },
  methods: {
    async create() {
      window.$('#teamLoading').prop('hidden', false);
      window.$('#btnSend').prop('disabled', true);
      window.$('#btnCancel').prop('disabled', true);
      if (this.validate()) {
        for (let i = 0; i < this.invitedInput.length; i += 1) {
          if (this.invitedInput[i] !== '') this.team.invited.push({ email: this.invitedInput[i] });
        }
        const response = await teamService.create(this.team);
        if (response.code === 201) {
          this.closeDialog('modalNovoTime');
          accountService.find();
        }
        this.$emit('create', response.message);
      }
      window.$('#btnSend').prop('disabled', false);
      window.$('#btnCancel').prop('disabled', false);
      window.$('#teamLoading').prop('hidden', true);
      this.team.name = '';
      this.team.description = '';
    },
    validate() {
      let validate = true;
      for (let i = 0; i < this.invitedInput.length; i += 1) {
        if (this.invitedInput[i] === this.$store.getters['account/account'].email) {
          this.emailInviteMessage = 'Você não pode informar o email do seu usuário.';
          window.$(`#emailInvite${i}`).addClass('md-input-invalid');
          validate = false;
        }
      }
      return validate;
    },
    changeImage(event) {
      this.team.image = event.target;
      const input = event.target;
      if (input.files && input.files[0]) {
        const reader = new FileReader();
        const vm = this;
        reader.onload = (e) => {
          vm.imagePreview = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    removeEmail(i) {
      this.countInvite -= 1;
      this.invitedInput.splice(i, 1);
    },
    openDialog(ref) {
      this.imagePreview = '';
      this.team.image = '';
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
  },
};
</script>
