<template>
    <div id="data">
      <p v-if="data.comment">{{ data.comment }}</p>
      <p v-else-if="data.description">{{ data.description }}</p>
    </div>
</template>
<script>
  export default {
    props: ['data'],
  };
</script>
<style>
#data {
  white-space: pre-wrap;
}
</style>
