<template>
    <div id="data">
      <p>{{ data.evaluated.account.name }}</p>
    </div>
</template>
<script>
  export default {
    props: ['data'],
  };
</script>
<style>
#data {
  white-space: pre-wrap;
}
</style>
