<template>
  <v-layout>
    <md-layout md-align="center">

      <md-layout md-flex-medium="100" md-flex-xsmall="100" md-flex-small="100" md-flex-large="20">
        <md-list class="md-transparent" style="flex: 7">
          <md-list-item @click="changeConfigFocus('profile')">Informações Pessoais</md-list-item>
          <md-list-item @click="changeConfigFocus('changePassword')">Mudar Senha</md-list-item>
        </md-list>
      </md-layout>
      <md-layout md-column md-flex-xsmall="100" md-flex-small="100" md-flex-medium="100"  md-flex-large="70">
        <md-theme md-name="card">
          <md-layout v-if="this.configFocus == 'profile'" md-column>
            <card-profile></card-profile>
          </md-layout>
          <md-layout v-if="this.configFocus == 'changePassword'" md-column>
            <card-change-password></card-change-password>
          </md-layout>
        </md-theme>
      </md-layout>
    </md-layout>
  </v-layout>
</template>

<script>
  export default {
    data() {
      return {
        configFocus: 'profile',
      };
    },
    methods: {
      changeConfigFocus(cardName) {
        this.configFocus = cardName;
      },
    },
    components: {
      VLayout: require('@/layouts/default.vue'),
      CardProfile: require('@/components/CardProfile.vue'),
      CardChangePassword: require('@/components/CardChangePassword.vue'),
    },
  };
</script>
