<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
  import store from './store';
  import { router } from './bootstrap';
  import accountService from './services/account';

  export default {
    store,
    router,
    async mounted() {
      if (this.$store.state.auth.authenticated) {
        await accountService.find();
      }
    },
  };
</script>
