<template>
  <div>
    <md-toolbar class="md-dense">

      <md-layout md-flex="10">
        <md-list class="md-transparent">
          <md-list-item @click="home" @click.native="home">
            <md-icon style="color: white">group_work</md-icon> <span>Meus Times</span>
          </md-list-item>
        </md-list>
      </md-layout>

      <md-theme md-name="card">
        <md-dialog md-open-from="#custom" md-close-to="#custom" ref="notificationDialog">
          <md-dialog-title>Notificações</md-dialog-title>
          <md-dialog-content>
            <md-list v-if="countNotification">
              <md-list-item v-for="notification in notifications.data" :key="notification.id" v-if="!notification.read">
                <div class="md-list-text-container" align="center" style="padding-top: 15px">
                  {{notification.message.value}}
                  <md-layout md-align="end">
                    <md-button class="md-accent" @click.native="goTeam(notification.message.team_id)">Ir para o Time</md-button>
                  </md-layout>
                  <md-divider></md-divider>
                </div>
              </md-list-item>
              <md-layout>
                <md-button class="md-primary" @click.native="markAllAsRead()">Marcar Todos como Lido</md-button>
              </md-layout>
            </md-list>
            <div class="subhead" v-else>Você não possui novas notificações.</div>
          </md-dialog-content>
          <md-dialog-actions>
            <md-button class="md-accent" @click.native="notificationHistory()">Ver Histórico</md-button>
            <md-button class="md-primary md-raised" @click.native="closeDialog('notificationDialog')">Fechar</md-button>
          </md-dialog-actions>
        </md-dialog>
      </md-theme>

      <md-layout md-flex="90" md-align="end">
        <md-button class="md-transparent" id="custom" @click.native="openDialog('notificationDialog')">
          <md-icon style="color: white" v-if="countNotification == 0">notifications_none</md-icon>
          <md-icon style="color: white" v-else >notifications_active</md-icon>
          <b v-if="countNotification > 0">{{countNotification}}</b>
        </md-button>
        <md-theme md-name="card">
          <md-menu md-direction="bottom left">
            <md-list class="md-transparent" md-menu-trigger>
              <md-list-item @click="" @click.native="">
                <div class="md-list-text-container" style=" padding-right: 10px">
                  <span style="color: #E1E3F3">Bem Vindo!</span>
                  <span style="color: #E1E3F3; white-space:nowrap;" >{{firstName}}</span>
                </div>

                <md-avatar class="md-avatar-icon">
                  <img v-if="account.image" :src="account.image.link">
                </md-avatar>
                <md-icon style="color: #E1E3F3">arrow_drop_down</md-icon>
              </md-list-item>
            </md-list>
          <md-menu-content>
            <md-menu-item @click.native="goAccount"><md-icon>account_circle</md-icon> <span>Meu Perfil</span></md-menu-item>
            <md-menu-item @click.native="logout"><md-icon>cancel</md-icon><span>Sair</span></md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-theme>
    </md-layout>
  </md-toolbar>
    <slot></slot>
  </div>
</template>
<script>
import authService from '@/services/auth';
import notificationService from '@/services/notification';

export default {
  async mounted() {
    await this.updateCountNotification();
    window.setInterval(async () => {
      await this.updateCountNotification();
    }, 30000);
  },
  data() {
    return {
      notifications: [],
      countNotification: [],
    };
  },
  methods: {
    logout() {
      authService.logout();
    },
    home() {
      this.$router.push({ name: 'home.index' });
    },
    goTeam(teamId) {
      this.$router.push({ name: 'dashboard.index', params: { id: teamId } });
    },
    async openDialog(ref) {
      await this.updateNotification();
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
    async updateCountNotification() {
      this.countNotification = await notificationService.count();
    },
    async updateNotification() {
      this.notifications = await notificationService.find();
    },
    async markAllAsRead() {
      await notificationService.markAllAsRead();
      this.updateNotification();
      this.updateCountNotification();
      this.closeDialog('notificationDialog');
    },
    notificationHistory() {
      this.$router.push({ name: 'notifications.index' });
    },
    goAccount() {
      this.$router.push({ name: 'account.index' });
    },
  },
  computed: {
    account() {
      return this.$store.getters['account/account'];
    },
    firstName() {
      if (this.account.name) return this.account.name.split(' ')[0];
      return '';
    },
  },
};
</script>
